  Body{
            Background:#fff;
            Text-align:center;
            Justify-content:center;
            Justify-items:center;
            
        }
       .d{
            Background-color:orange;
            Padding:12px;
            Margin:10px;
            Min-height:400px;
            Border:none;
            Border-radius:10px;
        }
        Input{
            
            Padding:12px;
            Margin:10px;
            Border:none;
        }
        Button{
            Width:40%;
            Height:50px;
            Border-radius:20px;
            Border:none;
        }
       .u1{
            Color:#fff;
            Background:orange;
            Border-radius:15px 0 15px 0;
            
        }
       .u2{
            font-family:cursive;
            Font-size:60px;
            Underline:10px;
        }
        a{
        Text-decoration:none;
       } 
       P{
           Padding:0;
       }
       }
      .u3{
          Font-size:80px
      }
      
    .divider {
      display: flex;
      align-items: center;
    }

    .line {
      flex-grow: 1;
      border-top: 1px solid #000;
    }

    .or {
      padding: 0 10px;
    }
